.navbar{
    background: linear-gradient(to bottom, rgb(202, 194, 194), black);
color:rgb(252, 87, 87);
}

.navbar-brand{
    font-size: xx-large;
}


    body {
        background-image: url('https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?w=1380&t=st=1701438302~exp=1701438902~hmac=3bc1c6a8d0686aaac1d762bd6b5af194e7219e07fbbc9ed1a05aa4f690992136');
        background-size: cover;
        
      }

      .nav .navbar-nav .navbar-right{
        color: aqua;
      }
      
